<div class="progress">
	<div class="progress-bar holder rounded">
		<div class="progress-value value rounded" ng-style="{ width: progress + '%'}">
			<div class="perc">{{progress|number:0}}%</div>
		</div>
	</div>
</div>
