[% USE Dumper %]

<div id="resultaat_definitie">
<form>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<input type="hidden" name="dialog_checkboxes" value="resultaten_trigger_archival" />

<table class="table_zaakinformatie" id="notificaties_template">
    <tbody>
        <tr>
            <td class="td-label td180">Naam (omschrijving)</td>
            <td class="td260">
                <input type="text" name="resultaten_label" value="[% params.label %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Resultaattype-generiek</td>
            <td class="td260">
                <select name="resultaten_resultaat">
                    [% FOREACH resultaattype IN ZOPTIONS.RESULTAATTYPEN.sort %]
                        <option
                            value="[% resultaattype %]"
                        [% resultaattype == params.resultaat
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% resultaattype | ucfirst %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Standaard keuze</td>
            <td class="td260">
                <input type="checkbox" name="resultaten_standaard_keuze" value="1"[% (params.standaard_keuze) ? ' checked' : '' %] />
                <input type="hidden" name="dialog_checkboxes" value="standaard_keuze" />
            </td>
        </tr>
        <tr>
            <td class="td-label td180">Selectielijst</td>
            <td class="td260">
                <input type="text" name="resultaten_selectielijst" value="[% params.selectielijst %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Selectielijst brondatum</td>
            <td class="td260">
                <input type="text" name="resultaten_selectielijst_brondatum" value="[% params.selectielijst_brondatum %]" class="veldoptie_datepicker" id="resultaten_selectielijst_brondatum_input" />
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Selectielijst einddatum</td>
            <td class="td260">
                <input type="text" name="resultaten_selectielijst_einddatum" value="[% params.selectielijst_einddatum %]" class="veldoptie_datepicker" id="resultaten_selectielijst_einddatum_input" />
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Activeer bewaartermijn</td>
            <td class="td260">
                <input type="checkbox" name="resultaten_trigger_archival" value="1"[% (!params.defined || params.trigger_archival) ? ' checked' : '' %] />
            </td>

        </tr>


        <tr>
            <td class="td-label td180">Archiefnominatie (waardering)</td>
            <td class="td260">
                <select name="resultaten_archiefnominatie[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH value IN ['Bewaren (B)','Vernietigen (V)','Overbrengen (O)'] %]
                        <option
                            value="[% value %]"
                        [% value == params.archiefnominatie
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% value %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Bewaartermijn</td>
            <td class="td260">
                <select name="resultaten_bewaartermijn[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH bewaartermijn IN ZOPTIONS.BEWAARTERMIJN.keys.nsort %]
                        <option
                            value="[% bewaartermijn %]"
                        [% bewaartermijn == params.bewaartermijn
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% ZOPTIONS.BEWAARTERMIJN.$bewaartermijn | ucfirst %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Brondatum archiefprocedure</td>
            <td class="td260">
                <select name="resultaten_ingang[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH ingang IN ZOPTIONS.RESULTAATINGANGEN %]
                        <option
                            value="[% ingang %]"
                        [% ingang == params.ingang
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% ingang | ucfirst %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Toelichting</td>
            <td class="td260">
                <input type="text" name="resultaten_comments" value="[% params.comments | html_entity %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Selectielijst-nummer</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_selectielijst_nummer" value="[% params.properties_selectielijst_nummer | html_entity %]" class="input">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-nummer</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_procestype_nummer" value="[% params.properties_procestype_nummer | html_entity %]" class="input">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-naam</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_procestype_naam" value="[% params.properties_procestype_naam | html_entity %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-omschrijving</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_procestype_omschrijving" value="[% params.properties_procestype_omschrijving | html_entity %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-toelichting</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_procestype_toelichting" value="[% params.properties_procestype_toelichting | html_entity %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-object</td>
            <td class="td260">
                <input type="text" name="resultaten_properties_procestype_object" value="[% params.properties_procestype_object | html_entity %]" class="input_large">
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestype-generiek</td>
            <td class="td260">
                <select name="resultaten_properties_procestype_generiek">
                    [% FOREACH ptg IN ZOPTIONS.PROCESTYPE_GENERIEK %]
                    <option value="[% ptg %]"
                        [% ptg == params.properties_procestype_generiek
                            ? 'selected="selected"'
                            : ''
                        %]
                    >[% ptg %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Herkomst</td>
            <td class="td260">
                <select name="resultaten_properties_herkomst">
                    [% FOREACH herkomst IN ZOPTIONS.HERKOMST %]
                    <option value="[% herkomst %]"
                        [% herkomst == params.properties_herkomst
                            ? 'selected="selected"'
                            : ''
                        %]
                    >[% herkomst %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

        <tr>
            <td class="td-label td180">Procestermijn</td>
            <td class="td260">
                <select name="resultaten_properties_procestermijn">
                    [% FOREACH procestermijn IN ZOPTIONS.PROCESTERMIJN %]
                    <option value="[% procestermijn %]"
                        [% procestermijn == params.properties_procestermijn
                            ? 'selected="selected"'
                            : ''
                        %]
                    >[% procestermijn %]</option>
                    [% END %]
                </select>
            </td>

        </tr>

    </tbody>
<table>
<div class="form-actions">
<input type="submit" value="Opslaan" class="button button-primary">
</div>
</form>
</div>
