<div class="kenmerk-veld row">
  <div class="column large-4">
    <div class="field-label field-has-help">
      <div class="field-help">
        [% PROCESS widgets/general/dropdown.tt
             dropdown_content = 'Zet de functionaliteit voor het lokaal bewerken van documenten aan (Zaaksysteem document watcher)'
             icon = 'icon-question-sign',
             icon_type = 'icon-font-awesome'
        %]
      </div>
      <label>Lokaal bewerken van documenten</label>
    </div>
  </div>
  <div class="column large-8">
    <div class="field">
      <input type="checkbox" disabled="true" name="files_locally_editable" [% value ? 'checked="checked"' : '' %] />
    </div>
  </div>
</div>
