<div class="kenmerk-veld row">
    <div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome',
                    dropdown_content="Deze tekst verschijnt op de inlogpagina van de PIP. Indien er geen waarde is ingevuld wordt er geen tekst weergegeven."
                %]
            </div>
            <label>Welkomstekst PIP</label>
        </div>
    </div>
    <div class="column large-8">
        <div class="field">
            <input type="hidden" name="[% parameter %]" value="[% value | html %]" class="zs-rich-text-editor" features="bold italic underline bullet ordered link"  />
        </div>
    </div>

</div>
