.object-type-form-general .form-field-input{
	> input[type=text]{
		width:100%;
	}
}

.object-type-attribute-list{
	border-spacing:0 3px;
	border-collapse:separate; 
	*{
		@include box-sizing(border-box);
	}
}

.object-type-attribute-list-item-cell-sort{
	width:2%;
}

.object-type-attribute-list-item-cell-index {
	text-align: center;	
	width: 5%;
}

.object-type-attribute-list-item-cell-attribute:not(.object-type-attribute-list-item-header-cell) {
  width: 40%;
  font-size:1.077em;
}

.object-type-attribute-list-item-cell-title{
	width:25%;
	input[type=text]{
		width:100%;
	}
}

.object-type-attribute-list-item-cell-required{
	width:8%;
	text-align: center;	
}

.object-type-attribute-list-item-cell-options{
	width:8%;
	text-align: center;
}

.object-type-attribute-list-item-cell{}

.object-type-attribute-list-item-header-cell{
	padding:0em .5em .4em;
}

.object-type-attribute-list-item:hover{
	.object-type-attribute-list-item-cell-sort.object-type-attribute-list-item-header-cell{
		background:none;
	}
}

.object-type-edit-actions-continue{
	display: flex;
}

// rechten

.object-type-form-rights{
	.form-fieldset{
		padding:0;
	}
	.form-field{
		float:left;
		border-bottom:none;
		padding:0;
		&:first-child{
			margin-right:2%;
		}
	}
	.form-field_label,.form-field-input{
		display: block;
		width:auto;
	}
	.form-field_label label{
		font-weight: bold;
		font-size:1.233em;
	}
	.casetype-rights{
		width:auto;
		float:none;
	}
	.form-field-name-instance_authorizations{
		> .form-field_label{
			display: none;
		}
	}
	.casetype-rights-title{
		display: none;
	}
	.casetype-rights:first-child{
		margin:0;
	}
}

.position-picker-part{
	line-height: 2.2;
}

.position-picker-part-title{
	width:55px;
	display: inline-block;
}

.position-picker-select{
	max-width:200px;
}

form[name="attribute_edit_form"]{
	width:840px;
	textarea{
		width:100%;
	}
}


// generic

.draggable-component-drag{
	background:url(/images/drag.png);
	width:10px;
	height:100%;
}

.form-field-name-object_validation_results{
	.form-field-input{
		width:100%;
	}
	.object-validation-results-label,
	.object-validation-results-list{
		float:left;
		@include box-sizing(border-box);
	}
	.object-validation-results-label .icon-warning-sign {
		color: red;
	}
	.object-validation-results-label{
		width:36%;
	}
	.object-validation-results-list{
		width:64%;
		ul{
			margin-left:20px;
		}
	}
}
