[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE HTML>

<!--[if IE 7 ]>    <html class="ie ie7 oldie basic"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie basic"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 basic"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    [% PROCESS form/common_form_header_includes.tt %]

    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    <link type="image/x-icon" href="http://www.baarn.nl/favicon.ico" rel="shortcut icon" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
</head>
<body data-ng-app="Zaaksysteem">

	<div id="container">
		
		<header role="banner">
		  
		  <div id="logo">
                <a href="http://www.baarn.nl">
                </a>
            </div>
		
		</header>
				
		<div id="main" class="clearfix" role="main">