[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% bodyid = 'login' %]

<div id="loginwrap">

    <div class="block bedrijfsid-login">
    
    <div class="block-header">
            <div class="block-header-inner">
                <h1 class="block-header-title">Login met [% c.get_customer_info.naam %]ID</h1>
            </div>
    </div>
    
        <div class="block-content blockcontent">
        [% #c.action_for('auth/bedrijfid/login/1') %]
            <form action="/auth/bedrijfid/login" method="post">
                
                <fieldset>
                    <input type="hidden" name="success_endpoint" value="[% c.req.params.success_endpoint | html_entity %]" />

                    <input type="hidden" name="referer" value="[% referer | html_entity %]" />
                    <input type="hidden" name="zs_login_token" value="[% zs_login_token | html_entity %]" />
                    <input type="hidden" name="do_auth" value="1" />
                    
                    <div>
                        <label for="bedrijfsid-login">[% c.get_customer_info.naam | html_entity %]ID login (kvknummer):</label>
                    </div>
                    
                    <div>
                        <input type="text" name="login" class="input_medium" id="bedrijfsid-login" />
                    </div>
                    
                    <div>
                        <label for="bedrijfsid-password">Wachtwoord:</label>
                    </div>
                    
                    <div>
                        <input type="password" name="password" class="input_medium" id="bedrijfsid-password" />
                    </div>
                    
                    <div>
                        <button type="submit" class="button-primary button">Inloggen</button>
                    </div>
                
                </fieldset>
                
            </form>
            
        </div>
        
    </div>
    
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
