


<div data-ng-controller="nl.mintlab.object.ObjectViewController as objectViewController" data-ng-init="objectViewController.init('[% object_id %]')" data-ng-include="objectViewController.getObjectTemplate()">

</div>

<script type="text/ng-template" id="/html/object/view/pq.html">

	<div class="object-view object-view-type-<[object.type]>" data-ng-controller="nl.mintlab.object.view.PQViewController as view">

		<div class="object-view-info block block-left">
			<div class="object-view-header block-header block-header-tabs">
				<div class="object-view-header-icon icon"></div>
				<div class="object-view-header-label"><[view.getObjectTitle()]></div>
			</div>
			<ul class="tab-item-list clearfix">
				<li class="tab-item tab-item-<[tab.id]>" data-ng-repeat="tab in view.tabs" data-ng-class="{'tab-item-active': view.isActiveTab(tab.id) }">

					<button type="button" class="tab-item-label" data-ng-click="view.selectTab(tab.id)" data-ng-disabled="view.isActiveTab(tab.id)">
						<[tab.label]>
					</button>

				</li>
			</ul>

			<div class="tab-description"></div>

			<div class="object-view-content tab-content">
				<div class="object-field" data-ng-repeat="field in view.getFields()">
					<div class="object-field-label">
						<[field.label]>
					</div>
					<div class="object-field-value" data-ng-bind-html="getTrustedHtml(field.resolve)">
					</div>
				</div>
			</div>
		</div>

		<div class="object-view-relations block block-sidebar">

			<div class="object-view-relations-header block-header">
				<i class="icon icon-graphic icon-relaties"></i> Relaties
			</div>

			<div class="object-view-relations-management">

				<ul class="object-view-relation-type-list">
					<li class="object-view-relation-type-list-item" data-ng-repeat="type in view.getObjectRelationTypes()" data-ng-include="'/html/object/view/pq-relation-type.html'" data-ng-controller="nl.mintlab.object.view.ObjectRelationController as objectRelationController">

					</li>
				</ul>

			</div>

		</div>


	</div>

</script>

<script type="text/ng-template" id="/html/object/view/pq-relation-type.html">

	<div class="object-view-relation-type-list-item-header">
		<[type.label]>
	</div>

	<ul class="object-view-relation-list" data-ng-show="view.getRelatedObjects(type).length">

		<li class="object-view-relation-list-item" data-ng-repeat="object in view.getRelatedObjects(type)">
			<div class="object-view-relation-list-item-icon object-view-relation-list-item-icon-type-<[type.id]>"></div>
			<div class="object-view-relation-list-item-label">
				<a class="object-view-relation-list-item-label-link" data-ng-href="<[view.getRelatedObjectLink(object, type)]>" data-ng-class="{ 'object-view-relation-list-item-label-link-inactive': !view.getRelatedObjectLink(object, type) }" data-ng-if="type.id!=='casetype'">
					<[view.getRelatedObjectLabel(object, type)]>
				</a>
				<a class="object-view-relation-list-item-label-link ezra_nieuwe_zaak_tooltip-show" data-ng-href="<[view.getRelatedObjectLink(object, type)]>" data-ng-class="{ 'object-view-relation-list-item-label-link-inactive': !view.getRelatedObjectLink(object, type) }" data-ng-if="type.id==='casetype'" data-zs-init-everything>
					<[view.getRelatedObjectLabel(object, type)]>
				</a>
			</div>
			<div class="object-view-relation-list-item-options form-field-spot-enlighter-list-item-options">
				<button class="object-view-relation-remove form-field-spot-enlighter-list-item-remove icon-font-awesome icon-remove" data-zs-confirm="objectRelationController.removeRelation(object, type.id)" data-zs-confirm-verb="Verbreken" data-zs-confirm-label="Weet u zeker dat u deze relatie wil verbreken?">
				</button>
			</div>
		</li>

	</ul>

	<div class="object-view-relation-list-add spot-enlighter-wrapper">
		<input type="text" data-ng-model="obj" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="view.getSpotEnlighterRestrict(type)" data-zs-spot-enlighter-label="<[type.objectLabel]>" data-zs-placeholder="'Begin te typen&hellip;'" data-zs-spot-enlighter-params="view.getSpotEnlighterParams(type)" />
	</div>

</script>